body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  background-color: white;
}

.nav {
  height: 42px;
  background-color: #006672;
}

.menu_button {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-top: 4px
}

li a {
  font-weight: bold;
  font-family: Calibri;
  font-size: medium;
  display: block;
  color: #ebd6fa;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #065972;
  color: white;
}

li a:hover:not(.active) {
  background-color: #065972;
  color: white;
}

#img1 {
  float: right;
  margin-right: 10px;
  border-radius: 50%;
}

footer {
  margin: 30px;
  position: fixed;
  text-align: right;
  bottom: 0px;
  width: 90%;
  color: black;
  font-size: 11px;
}

h4 {
  font-weight: bold;
  font-family: Calibri;
  font-size: 17px;
  color: #d2daf5;
  display: inline-block;
}

.grayout {
  display: none;
}

#img2 {
  margin-left: 125px;
  display: block;
  text-align: center;
}

::-webkit-file-upload-button,
.button {
  width: 105px;
  height: 25px;
  position: relative;
  bottom: 3px;
  border-radius: 5px;
  background-color: #006672;
  border: none;
  color: white;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}

::-webkit-file-upload-button:hover,
.button:hover {
  background-color: #065972;
}

.input_value {
  color: #777;
  padding-left: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 18px;
  width: 290px;
  height: 35px;
  border: 1px solid #c7d0d2;
  border-radius: 2px;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}

.input_value:hover {
  border: 1px solid #b6bfc0;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

.input_value:focus {
  border: 1px solid #a8c9e4;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #006672;
  text-indent: -9999px;
  display: block;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: #065972;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #006672;
  font-size: 12px;
  border: 1px solid #065972;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

#table_data {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
  font-size: 15px;
  table-layout: auto;
}

#table_data td,
#table_data th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_data tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table_data tr:hover {
  background-color: #ddd;
}

#table_data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #006672;
  color: white;
  font-size: 18px;
  width: auto;
}

.progress_bar {
  z-index: 5;
  display: none;
  color: #006672;
  font-size: 15px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 1150px;
  left: 150px;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#output {
  position: relative;
  top: 10px;
  left: 30px;
  display: block
}

@-webkit-keyframes load4 {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

